*{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
    
}
.container{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    background-color: black;
    text-align:center;
    top: 0px;
    position:fixed;
    z-index: 1;
}
a{
    color: white;
    text-decoration: none;
}
.menu{
    background-color: gray;
    width: 100%;
    height: 50px;
    position:static;
    z-index: 1;

}
nav{
    display: flex;
}
nav .menu-left{
    display:inline-flex;
    color: white;
    list-style: none;
    position:absolute;
}
nav ul li{
    margin-left: 30px;
    margin-top: 10px;
}
.child-user {
    display: contents;
    list-style: none;
    justify-content: start;
    font-size: 30px;
    display: none;
}
.child-user li{
    text-align: left;
}
.child-user li a{
    text-decoration: none;
    color: black;

}
.user:hover .child-user{
    display: block;
  

}
.child-user li:hover{
    background-color: gray;
    border-bottom: 4px solid;
}
.child-user li a:hover{
    color: wheat;
}
nav .menu-right{
    display: inline-flex;
    list-style: none;
    margin-right: 60px ;
}
nav ul .icon img{
    width: 30px;
    margin-left: 700px;
    margin-bottom: 10px;
    filter: invert(100%) sepia(3%) saturate(327%) hue-rotate(130deg) brightness(95%) contrast(80%);
}
nav ul .user img{
    width: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    filter: invert(100%) sepia(3%) saturate(327%) hue-rotate(130deg) brightness(95%) contrast(80%);
}
nav .menu-left li input{
    width: 400px;    
    height: 30px;
    border-radius: 40px;
    font-size: 20px;
    margin-left: 50px;
    
}
nav ul .search img{
    width: 20px;
    margin-bottom: 10px;
    filter: invert(100%) sepia(3%) saturate(327%) hue-rotate(130deg) brightness(95%) contrast(80%);
    margin-top: 10px;
    position: absolute;
    margin-left: 20px;
}
.body-lienhe{
	margin: 30px 50px 50px 50px;
	width: 90%;

}
.lienhe-header{
	height: 40px;
	font-weight: bold;
	line-height: 40px;
	padding-left: 10px;
	background: pink;
}
.lienhe-info{
	margin: 20px auto 0; 
	display: inline-block;
	width: 100%;
}
.info-left{
	float: left;
	width: 48%;
}
.info-right {
	float: right;
	width: 48%;	
}
iframe {
	border: 1px solid gray;
}
.guithongtin {
	width: 45%;
	float: left;
}
.thongtinnhom{
	width: 50%;
	float: right;
}
table{	
	margin-top: 10px;
	height: 20px;
}
table input{
	padding: 5px;
}
table button{
	padding: 5px;
	cursor: pointer;
	background: #FFF;
	border: 1px solid #0C9;
}
table button:hover{
	background: #0C9;
}
.thongtinnhom table{
	border-collapse: collapse;
	margin-top: 20px;
}
.thongtinnhom table td,th{
	border: 1px solid #0C9;	
	height: 30px;
	padding: 3px;
	text-align: center;
}
/* những tr chẵn sẽ có màu khác */
.thongtinnhom tr:nth-of-type(even) {background-color: #f2f2f2;}
footer{
    position: relative;
    width: 100%;
    height: 60px;
    top: 10px;
    color: white;
    text-align: center;
    background-color:gray;
}
.num{
    margin-bottom: 25px;
}
footer p{
    position: absolute;
    margin-top: 20px;
    margin-left: 600px;
}